body {
background-image: linear-gradient(90deg, darkblue 0%, cyan 100%);
color: #e6b800;
font-size:14px;
font-family:Franklin Gothic Medium;
}
input {
	background-color:#e6b800;
	border-color:darkKhaki;
	font-size:34px;
	margin-bottom:3px;

}

input:invalid {
	background-color: coral;
}

input[type=radio] {

   cursor: pointer;
    border-radius:8px;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px ;

	  -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.9);
}
a{
	color:white;
	font-family:Verdana;
	font-size:33px;
}
#a1{
	background-color: brown;
	color:orange;
}
div.comments {
	width:520x;
	height:50px;
	background-image: linear-gradient(90deg, red 0%, orange 100%);
	font-size:30px;
}
#wyniki_1 {

	font-family:"Verdana";
	border-style:1px dashed black;
	color:white;
}
#wyniki_2 {
	height:230px;
	width:630px;
	color:white;
	font-size:34px;
}
button:hover {
	background-color:#8000ff;
	transition-duration: 0.4s;
	color:white;
}
#wyniki {
	background-color:white;
	color:black;
	font-family:"Verdana";
	font-size:23px;
	height:100px;
	width:820px;
	padding-left:10px;
	border:2px dashed black;

}
#wyniki_3 {
	background-color:white;
	color:black;
	font-family:"Verdana";
	font-size:24px;
	 height:400px;
	 width:820px;
	 padding-left:10px;
	 padding-top:5px;
	 border: 2px dashed black;
}
span {font-size:100%;}
span b { font-size:60%; font-weight: normal}

.button1 {
  background-color: white;
  color: black;
  border:2px dashed black;
}

.button1:hover {
  background-color: #4CAF50;
  color: yellow;
}

table {
	margin: 0 auto;
	font-size: large;
	border: 1px solid brown;
}
textarea {
width:80%;
height:500px;
}
#menu{
	background-color:#C7F323;
	color:#585AAD;
	height:200px;
	width:500px;
}

li {
	color:#A4477C;
}

#entities{
float:left;
width:150px;
height:210px;
}
.ent {
width:150px;
height:47px;
font-size:19px;
margin-top:2px;

}


#form1 {
	float:left;
}


.wrapper a {
  display: block;
  width: 400px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #843d59;
  border: 2px solid #11b3b3;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.wrapper a span{
  position: relative;
  z-index: 2;
}


.wrapper a:hover{
  color: #fff;
}

.wrapper a:hover:after{
  width: 100%;
}
